@font-face {
  font-family: "iconfont"; /* Project id 3680568 */
  src: url('../fonts/iconfont.woff') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kongxinduigou:before {
  content: "\ebe5";
}

.icon-shouhuodizhi:before {
  content: "\e64e";
}

.icon-youhuiquan:before {
  content: "\e649";
}

.icon-shoucang:before {
  content: "\e641";
}

.icon-tuikuantuihuo:before {
  content: "\e601";
}

.icon-daipingjia:before {
  content: "\e602";
}

.icon-daishouhuo:before {
  content: "\e63e";
}

.icon-daifukuan:before {
  content: "\e63a";
}

.icon-yingyong:before {
  content: "\e600";
}

.icon-wode-wode:before {
  content: "\e60d";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-fenlei:before {
  content: "\e639";
}

.icon-zhengban:before {
  content: "\e6c6";
}

.icon-shandianfahuo:before {
  content: "\e632";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-zhengfangti-xianxing:before {
  content: "\e6fe";
}

.icon-shouye-shouye:before {
  content: "\e638";
}

.icon-sousuo:before {
  content: "\e60a";
}

